* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Oxygen", sans-serif;
  margin: 2rem;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 
  minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}




